# Python cache and temp files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
virtual/
venv/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# C extensions
*.c
*.cpp

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Docker
docker-compose.override.yml
*.env

# Ignore model/scaler files if you want (optional)
# app/model/*.joblib

# Ignore dataset files if not needed
# heart.csv
